/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    text-align: center;
    padding-top: 8rem;
    font-family: sans-serif;
}

button {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
}

#colorBtnRed {
    background-color: #ef4444; /* Código de color de red-500 en Tailwind */
}

#colorBtnBlue {
    background-color: #3b82f6; /* Código de color de blue-500 en Tailwind */
}

#colorBtnGreen {
    background-color: #10b981; /* Código de color de green-500 en Tailwind */
}

#colorBtnYellow {
    background-color: #f59e0b; /* Código de color de yellow-500 en Tailwind */
}

#colorBtnPurple {
    background-color: #8b5cf6; /* Código de color de purple-500 en Tailwind */
}

#colorBtnTeal {
    background-color: #14b8a6; /* Código de color de teal-500 en Tailwind */
}

#colorBtnPink {
    background-color: #ec4899; /* Código de color de pink-500 en Tailwind */
}
